.wlc{
    color: black;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 50px;
    margin-left: 10px;
}

.nam{
    color: darkorange;
    margin-left: 70px;
    margin-top: 10px;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 60px;

}
.world{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 60px;
}

h3{
    margin-left: 10px;
    font-size: 20px;
}
.student{
    text-align: justify;
    font-family: 'Inter', sans-serif;
    margin-left: 10px;

}
section{
    display: flex;
}
.width{
    width: 50%;
}
.width img{
    width: 100%;
}
.linked{
    margin-top: 10px;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
}
.top-banner{
    background-image: url(side.png);
    background-repeat: no-repeat;
}
.buttom{
    display: flex;
}
.allfriend img{
    width: 50%;
}
