.wlc{
    color: black;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 50px;
    margin-left: 10px;
}

.nam{
    color: darkorange;
    margin-left: 70px;
    margin-top: 10px;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 60px;

}
.world{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 60px;
}
.pic1{
    
    height: 550px;
    width: 700px;
}
h3{
    margin-left: 10px;
    font-size: 20px;
}
.student{
    text-align: justify;
    font-family: 'Inter', sans-serif;
    margin-left: 10px;

}
section{
    display: flex;
}
.width{
    width: 50%;
}
.width img{
    width: 100%;
}
